<div class="container container-body  p-2 mt-2">
    <h1>Welcome to the Customer Ajax Example</h1>
    <h3>By: Tim Jones</h3>
    <h5>Tutorial by Professor Sluiter</h5>
    <p>The current time is @DateTime.Now</p>
</div>
