
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
        #customerInfo{
            border: 1px black solid;
            border-radius: 2rem;
            background-color:#eee;
            padding: 2rem;
            margin: 2rem;
        }
    </style>

</head>
<body>
    <div class="container container-body rounded-3 shadow-lg p-5 mt-2"> 
        @RenderPage("_Header.cshtml")
        @RenderBody()
    </div>
</body>
</html>
 